<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AscEmu</title>
    <meta name="description" content="AscEmu">
    <link rel="stylesheet" href="css/aestyle.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<div class="wrapper">
  <header class="header">Header</header>
  <article class="main">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
  </article>
  <aside class="aside aside-1">Aside 1</aside>
  <aside class="aside aside-2">Aside 2</aside>
  <footer class="footer">Footer</footer>
</div>










<body>
    <div id="content">
        <div class="topnav">
            {{ content }}
            <a target="_blank" href="https://discordapp.com/invite/CBdgrh7"><i class="fab fa-discord"></i> Discord</a>
            <a target="_blank" href="https://github.com/AscEmu/AscEmu"><i class="fab fa-github"></i> Github</a>
            <a target="_blank" href="https://ascemu.github.io/Wiki"><i class="fas fa-code-branch"></i> Wiki</a>
            <a target="_blank" href="https://ascemu.github.io/Wiki/docs/commands/commands"><i class="fas fa-code-branch"></i> GM commands</a>
        </div>
    </div>
</body>
</html>
