<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AscEmu</title>
    <meta name="description" content="AscEmu">
    <link rel="stylesheet" href="css/aestyle.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <div id="content">
        <div class="topnav">
            {{ content }}
            <a target="_blank" href="https://discordapp.com/invite/CBdgrh7"><i class="fab fa-discord"></i> Discord</a>
            <a target="_blank" href="https://github.com/AscEmu/AscEmu"><i class="fab fa-github"></i> Github</a>
            <a target="_blank" href="https://ascemu.github.io/Wiki"><i class="fas fa-code-branch"></i> Wiki</a>
            <a target="_blank" href="https://ascemu.github.io/Wiki/docs/commands/commands"><i class="fas fa-code-branch"></i> GM commands</a>
        </div>
    </div>
</body>
</html>
